<body>
    <div id='notification'></div>
    <div id='vue_app'>      
        <div class='root'>
            <h2>Root Component</h2>
            
            <teleport to='#notification'>
                <p class='notice' v-if='display'>{{msg}}</p>
                <child_comp ref='cc' v-if='display'></child_comp>
            </teleport>
            <button @click='display=!display'>Show Notification</button>
        </div>
    </div>
    <template id='child_comp'>
        <div class='child'>
            <h3>Child Component</h3>
        </div>
    </template>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
    let app = Vue.createApp({
        data(){return{
            msg:'msg from Root Comp.',display:false
        }}
    })
    app.component('child_comp',{
        template:'#child_comp',
        data(){return{ msg:'msg from Child Comp.' }}
    })
    let vm = app.mount('#vue_app')
    </script>
</body>